html {
  background: linear-gradient(steelblue,cornflowerblue);
  height: 100%;
  font-family: sans-serif;
}
#w {
  text-align: center;
  width: 250px;
  height: 250px;
  background: linear-gradient(azure, lightgray);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: darkslategray;
  opacity: 0.9;
  box-shadow: .2em .2em .2em #444;
}

#weather {
  font-size: 90px;
  text-shadow: 0 0 0.2em #333;
  margin-top: 80px;
}

#low {
  font-size: 30px;
  margin-top: -90px;
}

#high {
  font-size: 30px;
  margin-bottom: -80px;
  margin-top: 40px;
}

#location{
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  color: white;
  text-shadow: 0 0 0.2em #000;
}

.choice {
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  color: darkslategray;
  font-family: sans-serif;
  opacity: 0.9;
  text-shadow: 0 0 0.2em #333;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

#fahren {
  left: 100px;
  background-color: azure;
}
#cels {
  right: 100px;
  background-color: darkgray;
}
#description {
  text-align: center;
  font-size: 24px;
  color: white;
}